.dashboard.page.animated.scaleUp
    .row
        .col-md-12
            .divider
                .line
                    .top
                    span.title Dashboard
                    .bottom
    .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .panel.panel-box.panel-patienten.clickable
                .panel-top
                    i.fa.fa-address-book.red
                .panel-info
                    span Patienten
                .panel-bottom
                    span -
        .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .panel.panel-box.panel-mitarbeiter.clickable
                .panel-top
                    i.fa.fa-user-circle.red
                .panel-info
                    span Mitarbeiter
                .panel-bottom
                    span -
        .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .panel.panel-box.panel-weeknumber.clickable
                .panel-top
                    i.fa.fa-calendar.red
                .panel-info
                    span Planung
                .panel-bottom
                    span -
script(src='/javascripts/views/dashboard.js')