doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        base(href='/')
        title Praxis für Ergotherapie Lurinks-Ortloff
        link(rel='stylesheet', href='/stylesheets/bower.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', media="print", href='/bower_components/fullcalendar/dist/fullcalendar.print.min.css')
        script(src='/javascripts/bower.js')
        script(src='/javascripts/functions.js')
        script(src='/javascripts/controller.js')
        script(src='/javascripts/navigation.js')
    body
        nav.navigation.noselect.hidden-print
            .container-fluid
                .row
                    .col-md-2
                        .logo
                            img(src='/images/logo.png', height='40px')
                    .col-md-10
                        ul.list-unstyled.list-inline.nav-center.pull-right
                            li#dashboard.dashboard.ergoTooltip(title="Dashboard")
                                a(href='index#dashboard')
                                    i.fa.fa-dashboard
                            li#patienten.patienten.ergoTooltip(title="Patienten")
                                a(href='index#patienten')
                                    i.fa.fa-group
                            li.mitarbeiter.ergoTooltip(title="Mitarbeiter")
                                a(href='index#mitarbeiter')
                                    i.fa.fa-user-circle
                            li.planung.ergoTooltip(title="Planung")
                                a(href='index#planung')
                                    i.fa.fa-calendar
        div#contentWrapper.container-fluid
            div.main-content.main
        #calendarModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only close
                        h4#modalTitle.modal-title Neuen Termin erstellen
                    #modalBody.modal-body
                        input.clickedTimeSlot(type="hidden")
                        select.select-mitarbeiter-modal
                        select.select-patient-modal
                    .modal-footer
                        button.btn.btn-info(type='button', data-dismiss='modal') Abbrechen
                        button.btn.btn-success.saveTermin(type='button', data-dismiss='modal') Speichern