.dashboard.page.animated.scaleUp
    .row
        .col-md-12
            .divider
                .line
                    .top
                    span.title MITARBEITER VERWALTUNG
                    .bottom
    .row
        .col-md-6.col-md-offset-3
            select.mitarbeiter-select
    .row
        .col-md-6.col-md-offset-3
            .divider
                .line
                    .top
                    span.title Allgemeine Mitarbeiterinformationen
                    .bottom
    .row
        .col-md-6.col-md-offset-3
            .card.card-padding.userInformation
                .accountInformation
                    input(type="hidden").userId
                    .col-md-12
                        small Vorname
                            input.vorname.input-border.pfe-input(type='text')
                            span.bar
                            br
                    .col-md-12
                        small Nachname
                            input.nachname.input-border.pfe-input(type='text')
                            span.bar
                            br
                    .col-md-12
                        button.pfe-button.saveAccountChanges.float_right Neuen Mitarbeiter anlegen
script(src='/javascripts/views/mitarbeiter.js')