.dashboard.page.animated.scaleUp
    .row
        .col-md-12
            .divider
                .line
                    .top
                    span.title PATIENTEN VERWALTUNG
                    .bottom
    .row
        .col-md-4.col-md-offset-4
            select.patienten-select
    .row
        .col-md-6
            .userInformation
                .accountInformation
                    input(type="hidden").userId
                    .col-md-12
                        .divider
                            .line
                                .top
                                span.title Allgemeine Patienteninformationen
                                .bottom
                    .col-md-12
                        small Vorname
                        input.vorname.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-12
                        small Nachname
                        input.nachname.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-8
                        small Strasse
                        input.strasse.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-4
                        small Hausnummer
                        input.hausnummer.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-6
                        small Postleizahl
                        input.plz.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-6
                        small Ort
                        input.ort.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-4
                        small Telefonnummer
                        input.telefonnummer.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-4
                        small Handynummer
                        input.handynummer.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-4
                        small Geburtsdatum
                        input.geburtsdatum.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-12
                        .divider
                            .line
                                .top
                                span.title Weitere Patienteninformationen
                                .bottom
                    .col-md-6
                        small Krankenkasse
                        input.krankenkasse.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-6
                        small
                        select.bg-shadow.behandlungsform-select
                            option -- Bitte wählen Sie eine Behandlungsform
                            option Sensomotorisch-Perzeptiv
                            option Psychisch-Funktionell
                            option Motorisch-Funktionell
                            option Hausbesuch
                            option Hirnleistungstraining
                            option Thermische Anwendung
                            option Gruppe
                    div.clearfix
                    .col-md-12
                        small Sonstige Hinweise
                        input.sonstigeHinweise.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-12
                        button.pfe-button.saveAccountChanges.float_right Neuen Patienten anlegen
        .col-md-6
            .row
                .verordnungen
                    .col-md-12
                        .divider
                            .line
                                .top
                                span.title Verordnungen
                                .bottom
                    .col-md-4
                        small Anzahl der Verordnungen
                        input.anzahlVerordnungen.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-4
                        small Verordnungsmenge
                        input.verordnungsmenge.input-border.pfe-input(type='text')
                        span.bar
                        br
                    .col-md-4
                        small Höchstverordnungsmenge
                        input.hoechstverordnungsmenge.input-border.pfe-input(type='text')
                        span.bar
                        br
script(src='/javascripts/views/patienten.js')