.dashboard.page.animated.scaleUp
    .row
        .col-md-12
            .panel.panel-padding(style="height: 100%;")
                ul.list-unstyled.list-inline.hidden-print
                    li
                        .switch-wrapper
                            .onoffswitch
                                input#onoffswitch_daniela.onoffswitch-checkbox.onoffswitch-checkbox-daniela(type='checkbox', name='onoffswitch_daniela', checked='', value="8")
                                label.onoffswitch-label(for='onoffswitch_daniela')
                        p Daniela
                    li
                        .switch-wrapper
                            .onoffswitch
                                input#onoffswitch_martina.onoffswitch-checkbox.onoffswitch-checkbox-martina(type='checkbox', name='onoffswitch_martina', checked='', value="1")
                                label.onoffswitch-label(for='onoffswitch_martina')
                        p Martina
                    li
                        .switch-wrapper
                            .onoffswitch
                                input#onoffswitch_ulrike.onoffswitch-checkbox.onoffswitch-checkbox-ulrike(type='checkbox', name='onoffswitch_ulrike', checked='', value="3")
                                label.onoffswitch-label(for='onoffswitch_ulrike')
                        p Ulrike
                    li
                        .switch-wrapper
                            .onoffswitch
                                input#onoffswitch_team.onoffswitch-checkbox.onoffswitch-checkbox-team(type='checkbox', name='onoffswitch_team', checked='', value="7")
                                label.onoffswitch-label(for='onoffswitch_team')
                        p Team
                div#calendar
script(src='/javascripts/views/planung.js')


