//
// PFE Variables
// --------------------------------------------------

@ergo-red:            #E12331;
@ergo-gray:           #020303;
@ergo-yellow:         #FCC937;


@white:               #FFFFFF;
@black:               #000000;
@background:          #EFEFEF;
@background-panel:    #F9F9F9;
@font:                @ergo-gray;

@green:               #85C355;
@blue:                #00BCD2;
@yellow:              #FFCA43;
@red:                 #FF443E;
@green-dark:          #009688;
@purple:              #9b59b6;


@shadow:              0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
@shadow-nav:          0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
@shadow-hover:        0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

@transition:          all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

@border-radius:               6px;
@border-radius-small:         3px;

@text-color:          #777777;
@text-light-color:    #AAB4B7;
@text-white:          @white;
@text-disabled:       #738388;
@link-color:          #000000;
@link-hover-color:    #000000;
@text-livesearch:     #c2c2c2;

@font-size-big:               16px;
@font-size:                   14px;
@font-size-small:             12px;

@zindex-1:            1111;
@zindex-2:            2222;
@zindex-3:            3333;
@zindex-4:            4444;
@zindex-5:            5555;
@zindex-6:            6666;
@zindex-7:            7777;
@zindex-8:            8888;
@zindex-9:            9999;