//
// Content Element Card
// --------------------------------------------------
.card {
  background: @white;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  h6 {
    text-align: center;
    margin: 0 0 20px 0;
  }

  .chart {
    padding: 30px 20px;
    border-bottom: 1px solid #DFDFDF;
    height: 312px;

    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .card-info {
    text-align: center;
    padding: 6px 8px;
    background: @white;
    border: 1px solid #DFDFDF;
    position: absolute;
    border-radius: 30px;
    font-size: 11px;
    color: @text-light-color;
    line-height: 14px;
    top: 50%;
    left: 50%;
    transform: translateY(-470%) translateX(-50%);
    text-transform: uppercase;
  }

  .card-top {
    background: @white;
    text-align: center;
    padding: 30px 15px;
  }

  .card-bottom {
    border-top: 1px solid #DFDFDF;
    background: @background-panel;
    padding: 137px 10px;
  }
  
  .card-footer {
    padding: 26px 5px;
    background: @background-panel;
    text-align: center;

    .legend {
      display: inline-block;
      padding: 0 1px;

      &.last {
        margin-right: 30px;
      }
    }
    
    h2 {
      font-size: 11px;
      text-transform: uppercase;
      margin: 0 0 11px 0;
      color: @text-light-color;
    }
  }
}