//
// Standard
// --------------------------------------------------
html, body {
  font-family: "Ubuntu";
  text-rendering: optimizeLegibility;
  background: url("/images/slider1.jpg");
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100% !important;
}

// Basic Styles
.no-pad {
  padding: 0;
}
.row-pad-top {
  padding-top: 10px;
}
.main {
  margin-top: 90px !important;
  transition: all .4s ease 0s;
}

.bg-shadow {
  background: @shadow;
}

#contentWrapper {
    transition: all .4s ease 0s;
}

.container-fluid {
  padding: 0 30px;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.clickable {
  cursor: pointer;
}

// View Animation
.scaleUp {
  animation: scaleUp .7s ease both;
}
.scaleDown {
  animation: scaleDown .7s ease both;
}
@keyframes scaleDown {
  from { }
  to { opacity: 0; transform: translate(0px, -200px); }
}
@keyframes scaleUp {
  from { opacity: 0; transform: translate(0px, -200px); }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}