//
// Content Element Navigation
// --------------------------------------------------

.navigation {
  border: none;
  border-radius: 0;
  color: @white;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: @zindex-5;
  width: 100%;
  box-shadow: @shadow-nav;
  background: @white;

  .logo {
    position: absolute;

    img {
      margin: 10px 0;
    }
  }

  ul {
    text-align: center;
    margin: 0;

    &.nav-right {
      text-align: right;

      div.userLabel{
        text-align: right;
        position: absolute;
        white-space: nowrap;
        right: 85px;
        top: 20px;
      }

    }

    li {
      font-size: 12px;
      height: 60px;
      border-bottom: 0px solid #20292C;
      cursor: pointer;
      padding: 0;

      &:hover, &.active {
        border-bottom: 3px solid @ergo-red;
      }

      a {
        text-decoration: none;
        color: @ergo-gray;
        padding: 3px 30px 0 30px;
        display: block;
      }
      i {
        font-size: 28px;
        line-height: 57px;
      }

      span {
        float: left;
        margin: 16px 0 0 10px;
      }
    }
  }
}
