//
// Content Element Panel
// --------------------------------------------------

.panel {
  border-radius: @border-radius-small;
  border: none;
  box-shadow: @shadow;
  transition: @transition;

  &:hover {
    box-shadow: @shadow-hover;
  }

  &.panel-padding {
    padding: 15px 20px;
  }

  &.panel-min-height {
    height: 479px;
  }

  .panel-top {
    background: @white;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    padding: 30px 15px;
    color: @ergo-red;

    &.green {
      color: @green;
    }
  }

  .panel-info {
    text-align: center;
    padding: 6px 8px;
    background: @white;
    border: 1px solid #DFDFDF;
    position: absolute;
    border-radius: 30px;
    font-size: 11px;
    color: @text-light-color;
    white-space: nowrap;
    line-height: 14px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-transform: uppercase;
  }

  .panel-bottom {
    text-align: center;
    border-top: 1px solid #DFDFDF;
    font-size: 26px;
    line-height: 40px;
    padding: 20px 15px;
    background: @background-panel;
    color: @font;
    min-height: 81px;
  }
}
