.tooltipster-sidetip.tooltipster-ergo .tooltipster-box {
  border-radius: 3px;
  border: none;
  border-top: 3px solid @ergo-yellow;
  background: @ergo-gray;
}

.tooltipster-sidetip.tooltipster-ergo.tooltipster-top .tooltipster-box {
  margin-bottom: 7px
}

.tooltipster-sidetip.tooltipster-ergo .tooltipster-content {
  color: #fff;
  padding: 8px 16px
}

.tooltipster-sidetip.tooltipster-ergo .tooltipster-arrow-background {
  display: none
}

.tooltipster-sidetip.tooltipster-ergo.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: @ergo-yellow;
}

.tooltipster-sidetip.tooltipster-ergo.tooltipster-left .tooltipster-arrow-border {
  border-left-color: @ergo-gray;
}

.tooltipster-sidetip.tooltipster-ergo.tooltipster-right .tooltipster-arrow-border {
  border-right-color: @ergo-gray;
}

.tooltipster-sidetip.tooltipster-ergo.tooltipster-top .tooltipster-arrow-border {
  border-top-color: @ergo-gray;
}