//
// Class Divider
// --------------------------------------------------

.divider {
  margin: 25px 0;
  .line {
    height: 20px;
    .top {
      height: 10px;
      border-bottom: 1px solid #DFDFDF;
    }
    .title {
      text-align: center;
      padding: 6px 8px;
      background: #FFFFFF;
      border: 1px solid #DFDFDF;
      position: absolute;
      border-radius: 30px;
      font-size: 11px;
      color: #777777;
      line-height: 14px;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      text-transform: uppercase;
    }
    .bottom {
      height: 10px;
    }
  }
}
