.pfe-button {
  font-size: 14px;
  text-align: center;
  padding: 10px 8px;
  line-height: 8px;
  background-color: fade(@ergo-yellow, 20%);
  border: 2px solid @ergo-yellow;
  border-radius: @border-radius;
  color: @text-color;
  transition: @transition;
  min-width: 100px;

  &:after{
    margin-bottom: 200px;
  }

  &.absolute{
    position: absolute;
  }

  &:hover {
    background: @ergo-yellow;
    border: 2px solid @ergo-yellow;
    color: @text-white;
  }

  &.float_right{
    float: right;
  }
}