.onoffswitch {
  position: relative; width: 60px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 25px; padding: 0; line-height: 25px;
  border: 2px solid #E3E3E3; border-radius: 25px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 25px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 35px;
  border: 2px solid #E3E3E3; border-radius: 25px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: @ergo-yellow;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: @ergo-yellow;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

.onoffswitch-checkbox-martina {
  &.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: @blue;
  }

  &.onoffswitch-checkbox:checked + .onoffswitch-label, &.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: @blue;
  }
}

.onoffswitch-checkbox-ulrike {
  &.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: @red;
  }

  &.onoffswitch-checkbox:checked + .onoffswitch-label, &.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: @red;
  }
}

.onoffswitch-checkbox-steffi {
  &.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #FAC748;
  }

  &.onoffswitch-checkbox:checked + .onoffswitch-label, &.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #FAC748;
  }
}

.onoffswitch-checkbox-daniela{
  &.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: @green;
  }

  &.onoffswitch-checkbox:checked + .onoffswitch-label, &.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: @green;
  }
}

.onoffswitch-checkbox-team{
  &.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: @purple;
  }

  &.onoffswitch-checkbox:checked + .onoffswitch-label, &.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: @purple;
  }
}