.pfe-input {
  border-color: transparent;
  display: block;
  font-size: @font-size;
  border-bottom: 1px solid @text-light-color;
  height: 30px;
  width: 100%;
  color: @ergo-gray;
  background: transparent;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-bottom: 0;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: transparent;
  }
}

.pfe-input:focus ~ .bar:before,
.pfe-input:focus ~ .bar:after {
  width: 50%;
}

.bar {
  position: relative;
  display: block;

  &:before,
  &:after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background: @ergo-red;
    transition: @transition;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }

  &.marginBottom{
    margin-bottom: 10px;
  }
}