//
// PFE Fullcalendar
// -------------------------------------------------

.fc-content {
  padding: 10px;
}

.fc-today {
  background: fade(@ergo-yellow, 10%) !important;
}

.closeon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9999;
}