//
// PFE SELECT2
// -------------------------------------------------

.select2-container {
  display: block;
  width: 100% !important;
  margin-bottom: 18px !important;
  outline: none;
  box-shadow: none;

  // Select-Element
  .select2-selection {
    border: none;
    height: 40px;

    //
    .select2-selection__rendered {
      line-height: 40px;
      padding: 0 40px 0 16px;
      color: @ergo-gray;
      font-weight: 300;
      font-size: @font-size;
    }

    // Pfeil
    .select2-selection__arrow {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 5px;
      outline: none;
      box-shadow: none;
    }
  }

  // Select-Dropdown
  .select2-dropdown {
    border: none;
    box-shadow: @shadow-hover;

    // Suchfeld
    .select2-search__field {

    }

    // Options
    .select2-results {
      ul {
        max-height: 210px;
      }

      // Einzlene Option
      .select2-results__option {
        color: @ergo-gray;

        // Ausgewählte Option
        &[aria-selected=true] {
          background-color: @ergo-red;
          color: @text-white;
        }

        // Hover Option
        &.select2-results__option--highlighted {
          background-color: fade(@ergo-yellow, 50%);
        }
      }
    }
  }
}

.select2-dropdown {
  z-index: 9001;
}